<div>
    <h2>Team List</h2>
    <form (submit)="createTeam(teamName.value); teamName.value=''">
      <mat-form-field appearance="fill">
        <mat-label>Input Label</mat-label>
        <input #teamName type="text" matInput placeholder="Enter team name"  required />
      </mat-form-field>
      <button  mat-raised-button color="primary" type="submit">Add Team</button>
    </form>
    <mat-list class="mat-list">
      <mat-list-item *ngFor="let team of teams" class="mat-list-item">
        {{ team.name }}
        <a [routerLink]="['/teams', team.id]">Voir les détails de l'équipe</a>
      </mat-list-item>
    </mat-list>
  </div>
